<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Fontawesome -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="./public/assets/base.css">
  <link rel="stylesheet" href="./public/assets/calendar.css">
  <title>Lich phung vu</title>
</head>

<body>
  <div id="app">
    <div class="container theme-showcase">
      <div class="row">
        <div class="col">
          <!-- search form -->
          <form v-on:submit.prevent="doResearch">
            <p>Year is: {{ searchYearInfo }}</p>
            <input type="number" name="searchYear" v-model="searchYearInfo" placeholder="Năm Phụng Vụ" />
            <button type="submit"> Search</button>
          </form>

          <!-- end search form -->
          <h1 class="summary_month">{{ yearInfo }}</h1>
          </h5>
          <!-- print sample css -->
          <div id="sample-color" class="col">
            <span class="sample badge event le_trong_d">{{leTrong}}</span>
            <span class="sample badge event le_kinh_d">{{leKinh}}</span>
            <span class="sample badge event le_nho_d">{{leNho}}</span>
            <span class="sample badge event today">{{today}}</span>
          </div>

          <!-- render full year -->
          <div class="each_date" v-for="(fullDateData, ind) in fullNamPhungVu">
            <div class="container">
              <div class="row ">
                <div class="w-25 border bg-light text-center align-middle">{{printDate(fullDateData['date'])}}</div>
                <div v-for="ngayle in fullDateData['cacNgayLe']" class="col detail-le event border "
                  :class="[getNgayLeEventClass(ngayle['type'])]">
                  {{ngayle['name']}}
                  <!-- <i v-if="ngayle['type'] !== ''">- {{ngayle['type']}}</i> -->
                </div>
                <div class="w-75 bg-light border" v-if="fullDateData['cacNgayLe'].length==0">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module">
    import { createApp, ref, reactive } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    import { LE_KINH, LE_TRONG, LE_NHO, getTinhNamPhungVuInstant } from 'lichphungvu';
    // check nam
    var currentDate = new Date();
    var defaultYear = currentDate.getFullYear();
    //////

    function isLeTrong(loaiLe) {
      return loaiLe == LE_TRONG
    }
    function isLeNho(loaiLe) {
      return loaiLe == LE_NHO
    }

    function isLeKinh(loaiLe) {
      return loaiLe == LE_KINH
    }
    function getNgayLeEventClass(loaiLe) {
      if (isLeKinh(loaiLe)) {
        return 'le_kinh_d'
      } else if (isLeTrong(loaiLe)) {
        return 'le_trong_d';
      } else if (isLeNho(loaiLe)) {
        return 'le_nho_d';
      } else {
        return 'bg-light';
      }
    }
    function printDate(d) {
      const weekdays = ["CN", "T2", "T3", "T4", "T5", "T6", "T7"];

      let day;
      let month;
      day = d.getDate();
      month = d.getMonth() + 1;
      let year = d.getFullYear();

      let weekday = d.getDay();
      day = day < 10 ? '0' + day : day;
      month = month < 10 ? '0' + month : month;
      return `${weekdays[weekday]}, ${day}-${month}-${year}`;
    }

    function doResearch(year) {
      const namPhungvuIns = getTinhNamPhungVuInstant(year);
      const namPhungVu = namPhungvuIns.getNamPhungVu();
      const fullNamPhungVuData = namPhungvuIns.getFullLichPhungVuTheoNam();
      let finalData = [];
      for (let dd in fullNamPhungVuData) { // resort to make index start from 0...
        const formattedItem = {
          ...fullNamPhungVuData[dd]
        };
        finalData.push(formattedItem);
      }
      const yearInfo = yearInfoTitle(namPhungVu);
      return {
        finalData,
        yearInfo
      }
    }
    function yearInfoTitle(namPhungVu) {
      return 'Năm Phụng vụ ' + namPhungVu.year + ' - ' + namPhungVu.yearABC + '- ' + namPhungVu.oddEven;
    }
    const app = Vue.createApp({
      data() {
        const { finalData, yearInfo } = doResearch(defaultYear);
        return {
          leTrong: LE_TRONG,
          leKinh: LE_KINH,
          leNho: LE_NHO,
          today: 'Today',
          yearInfo,
          fullNamPhungVu: finalData,
          isLeTrong,
          isLeNho,
          isLeKinh,
          printDate,
          getNgayLeEventClass,
          searchYearInfo: defaultYear,
        }
      },
      methods: {
        doResearch() {
          const { finalData, yearInfo } = doResearch(this.searchYearInfo);
          this.yearInfo = yearInfo;
          this.fullNamPhungVu = finalData;
        }
      }
    });
    app.mount('#app');
  </script>
</body>

</html>